body {
  background-image: url(../images/neon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgba(141, 200, 232, 0.1);
  height: 35px;
  padding-left: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

.header__icons {
  list-style-type: none;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  opacity: 0.7;
  color: white;
}

.header__date_size {
  width: 1145px;
  text-align: center;
}

.aside__menu {
  background-color: rgba(141, 200, 232, 0.1);
  width: 70px;
  margin-top: 145px;
  text-align: center;
  padding-top: 4px;
  border-radius: 0px 6px 6px 0px;
  display: block;
  float: left;
  }

.icons_hover:hover {
  transform: scale(1.07);
  transition: all .1s ease-in-out;
}

.main__menu__icons {
  padding: 20px;
}

.main__menu__icons:hover {
  transform: scale(1.07);
  transition: all .1s ease-in-out;
}

.main__menu {
  float: left;
  margin-top: 100px;
  margin-left: 305px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 600px;
  height: 500px;
  background-color: rgba(141, 200, 232, 0.1);
  border-radius: 6px;
}
